[Unit]
Description=GPUBK usage monitor
After=default.target
StartLimitIntervalSec=60
StartLimitBurst=3

[Service]
Type=simple
@SERVICE_ENVIRONMENT@
ExecStart=@PYTHON_EXECUTABLE@ -m bk monitor
Restart=on-failure
RestartPreventExitStatus=75 77 78
RestartSec=5
Nice=10
IOSchedulingClass=idle
NoNewPrivileges=true

[Install]
WantedBy=default.target
